@import url(https://www.dentitul.com/font.ttf);
@font-face {
    font-family: 'Untitled1';
    src: url(font.ttf);
}

*{
    padding: 0;
    margin: 0;
}
body{
    height: 1000px;
    font-size: 0.75rem;
    font-family: "Untitled1";
    background-color: rgb(10, 10, 10);
}

div#Dentitul_Logo{
    position: sticky;
    top:0;
    z-index: 1;
    overscroll-behavior: none;
}

div.text2{
    position: absolute;
    top: 990px;
    color: white;
}

div.container{
    width: 1600px;
    word-wrap: normal;
    margin: auto;
    gap: 10px;
}

div#text1{
    align-self: center;
    width: 100%;
    word-wrap: normal;
    display: flex;
    position: absolute;
    margin: auto;
    color: white;
    top: 70px;
    flex-wrap: wrap;
    gap: 10px;
    line-height: 1.5;
}

@media(max-width: 1600px){
    div.container{
        width: 100%;
    }
}

@media(max-width: 1024){
    div#text1{
        padding: 10px 0;
        gap: 10px;
    }
}
